.alert {
    background-color: $color-highlight;
    border-radius: $measure-xxs;
    @include rem(padding, 0 $measure-s);
    }

.alert-success {
    background-color: #D9F6E2;
    }

.alert-info {
    background-color: #D1EBF4;
    }

.alert-failure {
    background-color: #FDDAD8;
    }
