h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-sans-bold;
    font-weight: normal;
    font-weight: 600;
    margin: 0 0 0.5em 0;
    }

h1,
.h1 {
    @include rem(font-size, 28px);
    color: $blue;
    }

h2,
.h2 {
    @include rem(font-size, 24px);
    }

h3,
.h3 {
    @include rem(font-size, 21px);
    }

h4,
.h4 {
    @include rem(font-size, 18px);
    }

h5,
.h5 {
    @include rem(font-size, 15px);
    }

h6,
.h6 {
    @include rem(font-size, 16px);
    text-transform: uppercase;
    font-weight: normal;
    color: $gray
    
    }